.banner{
    border-radius: 2rem;
    overflow: hidden;
    &-content{
        padding: 3rem 4rem;
        align-self: flex-start;
    }

    &-img{
        text-align: center;
        padding: 2rem 2rem 0rem 2rem;
        margin-bottom: -0.5rem;

        &-sm{
            max-width: 40rem;
            margin: auto;
        }
    }

    &-secondary{
        background-color: var(--theme-banner-secondary);
    }

}