html{
    --theme-btn-social:#{$white};
}
[data-theme="dark"]{
    --theme-btn-social:#{$gray-bg-dark};
}

button:disabled{
    //opacity: 0.5;
}
@mixin btn-focus($color) {
    &:focus{
        box-shadow: 0 0 0 3px $color;
    }
}
.btn{
    border-radius: 0.4rem;
    padding: 1.4rem 4rem;
    text-align: center;
    transition: $transition-secondary;
    overflow: hidden;
    @include spinner($gray-100,$color-primary,$color-secondary);
    @include res(sm){
        padding: 1.6rem 4rem;
    }
    @include btn-focus(var(--theme-border-100));
    &:hover{
        transform: translateY(-2px);
    }
    &:active{
        box-shadow: none;
        transform: translateY(0);
     }
   
   

    &-sm{
        padding: 1rem 2rem;
    }
    &-outline{
        border: 1.5px solid $gray-200;
        background-color: $gray-bg;
        color: $black;
        box-shadow: none;

        &:hover{
            border-color: $gray-300;
            background-color: $gray-200;
        }
        @include btn-focus(var(--hover-blue));
        &:active{
            color: $color-primary;
            background-color: var(--hover-blue);
        }
    }
    &-icon{
        display: flex;
        align-items: center;

        .icon{
            margin-right: 0.8rem;
        }
    }
    &-primary{
        color: $white;
        background-color: $color-primary;
        @include btn-focus(var(--theme-color-primary));
         &:hover{
            background-color: darken($color-primary, 8%);
        }
        &:active{
            background-color: darken($color-primary,15%);
        }
    }
    &-secondary{

    }
    &-tertiary{

    }
    &-dark{
        background-color: $dark;
        color: $white;
        @include btn-shadow($dark, 0.25);

        &:hover{
            background-color: darken($dark, 3%);
        }
     
        &:active{
            background-color: darken($dark, 8%);
        }

    }
    &-social{
        background-color: var(--theme-btn-social);
        padding: 1.4rem 2.4rem;

        @include res(sm){
            pad: 2rem 3rem;
        }
        box-shadow: $shadow;
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        @include base-fs;
        justify-content: center;
        font-weight: 800;
        img{
            height: 1.6rem;
            margin-right: 0.8rem;
            transform: translateY(-8%);

            @include res(sm){
                height: 2rem;
            }
        }

        &:hover{
            background-color:var(--theme-border-100);
        }
      
        &:active{
            box-shadow: $shadow-active;
            background-color:var(--theme-border-200);
         }
    }
      
}


