
.card{
    background-color: $white;
    border-radius: 1rem;
    box-shadow: $shadow;
    padding: 3.6rem 3.2rem;

    &-sm{
        max-width: 45rem;
    }

    &-border{
        box-shadow: none;
        border: 1px solid $gray-100;
        padding: 1.5rem 2.5rem;
    }
    &-link{
        cursor: pointer;
        text-align: center;
        @include spinner($black,$color-primary,$white);

         .link{
        transition: $transition-secondary;
         font-weight: 600;

        color: $color-primary;
        }

        display: block;
        transition: $transition-secondary;
        &:hover{
            background-color: $color-primary-light;
            box-shadow: $shadow-light;
            transform: translateY(-2px);
            .link{
                 color: $color-secondary;
            }
        }
        &:focus{
            box-shadow: 0 0 0 2px $gray-300;
        }
        &:active{
           box-shadow: none;
            transform: translateY(0);
            background-color: $gray-100;
        }
    }
}