
.card{
    background-color: var(--theme-bg);
    border-radius: 1rem;
    box-shadow: $shadow;
    padding: 3.6rem 3.2rem;

    &-sm{
        max-width: 45rem;
    }

    &-border{
        box-shadow: none;
        border: 1px solid var(--theme-border-100);
        padding: 1.5rem 2.5rem;
    }

    &-header{
        border-bottom: 1px solid var(--theme-border-300);
        padding: 1rem 0;
        margin-bottom: 1rem;
    }
    &-link{
        cursor: pointer;
        text-align: center;
        @include spinner(var(--theme-text),var(--theme-color-primary),var(--theme-bg));
         .link{
        transition: $transition-secondary;
         font-weight: 600;
        color: var(--theme-color-primary);
        }

        display: block;
        transition: $transition-secondary;
        &:hover{
            background-color: var(--hover-blue);
            box-shadow: $shadow-light;
            transform: translateY(-2px);
            .link{
                 color: var(--theme-color-secondary);
            }
        }
        &:focus{
            box-shadow: 0 0 0 2px var(--theme-border-300);
        }
        &:active{
           box-shadow: none;
            transform: translateY(0);
            background-color: var(--theme-border-100);
        }
    }
    &-navigation{
        box-shadow: $shadow-xs;
        padding: 1.2rem 2rem;
        margin-bottom: 2rem;
        @include res(sm){
            padding: 0;
        }
    }
}