html{
    --theme-label-color:#{$color-secondary};
    --theme-input-color:#{$color-secondary};
}
[data-theme="dark"]{
    --theme-label-color:#{$color-primary-light};
    --theme-input-color:#{$white};
}


select{
    display: none;
}
.form{
    &-group{            
        margin-bottom: 1.5rem;
    }
    &-label{
        @include small-fs;
        color: var(--theme-label-color);
        font-weight: 500;
        margin-bottom: 0.4rem;
        display: block;
        text-align: left;
    }
    &-btn{
        margin: 2rem 0;
        text-align: center;
    }
    &-social-btns{
        margin-top: 2rem;
    }
    &-input,&-select{
        border: 1.8px solid var(--theme-border-200);
        padding: 1.6rem 1.6rem;
        border-radius: 0.8rem;
        &:focus{
            border-color:  var(--theme-color-primary);
        }
    }
    &-input{
        display: block;
        width: 100%;
        color:var(--theme-input-color);
        transition: $transition-primary;
        &::-webkit-input-placeholder {
            font-weight: 500;
            color: var(--theme-gray-text);
          }
    }
    &-select{
        display: flex;
        font-weight: 500;
        font-family: Met;
        align-items: center;
    }
}

.required{
    &::after{
        content: "*";
        font-size: 2rem;
        font-weight: 600;
        color:var(--theme-color-primary);
    }
}

.validation{
    &,p{
     @include small-fs;
      font-weight: 500;
      margin-top: 0.5rem;
      color: $danger;
      text-align: left;
      letter-spacing: 0.08rem;
      animation:fade_up 0.3s ease-in-out forwards;
    }
  }