.project{
    &-card{
        border-radius: 1rem;
        overflow:hidden;
        margin-bottom: 1.6rem;
        border-spacing: inherit;
        background-color: var(--theme-bg);
        border: 1.6px solid var(--theme-gray-100);
    }
    &-user{
        display: flex;
        flex-grow: 1;
        align-items: center;
    }
    &-tagline{
        font-weight: 500;
        @include small-fs;
    }
 
    &-tag{
        padding: 0.6rem 0.8rem;
        background-color: var(--theme-bg-secondary);
        color: var(--theme-color-primary);
        display: inline-block;
        margin-bottom: 0.5rem;
        font-weight: 500;
        border-radius: 0.4rem;
        transition-duration: 0.1s;
        &:not(:last-child){
            margin-right: 0.5rem;
        }

        &:hover{
                color : $white;
                background-color: var(--theme-color-primary); 
        }
    }
    &-tags-box{
        margin: 1.6rem 0 1.2rem;
    }
    &-stat{
        letter-spacing: -0.05rem;
        &,span{
            @include small-fs;
        }
    }
    &-save, &-more{
        margin-right: -1.2rem;
    }
    &-save{
        margin-top: -0.8rem
    }
    &-icon{
            height: 2.2rem;
            width: 2.2rem;

            @include res(sm){
                height: 2.8rem;
                width: 2.8rem;
            }
    }
}