<section class="content-wrapper content-auth">
    <div class="container">
        <div class="border-primary py-3">
            <h3 class="text-primary text-center">
                Verify Email
            </h3>
        </div>

        <div class="auth-box">
            <div class="row justify-content-center">
                   <div class="col-lg-5 col-md-5 col-sm-10">
                    <div class="card mb-4">
                        <div class="form-box">
                        <form class="form" [formGroup]="form" (submit)="submit()">
                            <div class="form-group">
                                <label for="email" class="form-label required">Verfication Code</label>
                                <input formControlName="code" type="text" class="form-input" placeholder="Enter verfication code sent on your mail">

                                <div
                                class="validation"
                                *ngIf="submitted && code!.invalid"
                              >
                                <p *ngIf="code!.errors!.required">
                                  Please enter your code!
                                </p>

                              </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-dark" 
                                [class.spinner]="btnLoading" type="submit">
                                    Verify
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <a (click)="sendCode()" class="card card-border card-link"
               
                [class.spinner]="sendingCode"
                >
                    <span class="link">
                        Resend Code
                        </span>
                </a>
                   </div>
            </div>
        </div>
    </div>
</section>
