<div class="project-card">
    <div class="row no-gutters h-100">
        <div class="col-4 col-sm-3 col-md-4 d-none d-sm-block">
                <div class="project-img">
                    <img [src]="project?.thumbnail_image" class="img-fill" [alt]="project?.title">
                </div>
        </div>
        <div class="col-12 col-sm-9 col-md-8">
            <div class="project-right">
                <div class="project-content">
                    <div>
                        <div class="d-flex">
                            <a class="flex-grow-1" routerLink="/project">
                                <h4>
                                    {{project.title}}
                                </h4>
        
                                <p class="project-tagline">
                                    {{project.tag_line}}
                                </p>
                            </a>
                     
                            <div class="dropdown project-more-dropdown project-more">
                                <button class="btn-solo dropdown-toggle"
                                type="button"
                                id="project_id"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                                >
                                    <i data-feather="more-vertical" ></i>
                                </button>
                                  <div class="dropdown-menu dropdown-menu-right" attr.aria-labelledby="project_id">
                                    <a class="dropdown-item project-more-item">
                                      <i data-feather="share-2"></i>
                                      Share Project
                                    </a>
                                    <a class="dropdown-item project-more-item">
                                        <i data-feather="alert-triangle"></i>
                                        Report Project
                                      </a>
                                  </div>
                              </div>
                        </div>
    
                        <div class="project-tags-box">
                            <a routerLink="/category" class="project-tag text-xs" *ngFor="let tag of project.tags">
                                {{tag}}
                            </a>
    
                        </div>
                    </div>
                 

                    <div class="d-flex mt-2">
                        <a routerLink="/username" class="project-user">
                            <div class="profile-img img-border-gray profile-img-small mr-4">
                                <img [src]="project.owner_img" alt="owner">
                            </div>
                            <div>
                                <h6 class="mb-1">
                                    {{project.owner}}
                                </h6>
                
                                <p class="text-xs text-gray">
                                    Acropolis Institute of Technology & Research
                                </p>
                            </div>
                        </a>
                        <button class="btn-solo project-save" title="Save Project">
                            <i data-feather="bookmark"></i>
                        </button>
                    </div>
                </div>
                <div class="project-bottom">
                    <div class="d-flex align-items-center">
                        <button class="btn-transparent btn-icon" title="Like">
                            <button class="btn-solo">
                                <i data-feather="heart" class="project-icon"></i>
                            </button>
                            <h6 class="project-stat">
                                <span class="font-800">
                                    {{project?.like_count}}
                                </span>
                                <span class="text-gray text-400">
                                    likes
                                </span>
                            </h6>
                        </button>

                        <div class="btn-transparent btn-icon ml-5">
                            <i data-feather="eye" class="icon project-icon"></i>
                            <h6 class="project-stat">
                                <span class="font-800"> {{project?.views}}</span>
                                <span class="text-gray text-400">
                                    views
                                </span>
                            </h6>
                        </div>
            
                      
                    </div>  
                    
                    <button class="btn btn-sm btn-gray project-view text-base">
                        View Project
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
