@import 'var';
@import 'layouts/footer';

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

ul li a{
    padding: 0 1rem;
}

.navigation-mobile{
    @include res(sm){
        bottom: 4rem;
        right: 0;
    }
}