@import 'abstracts/variables';
@import 'abstracts/mixins';

.header-search{
    &-box{
        position: relative;
        width: 34vw;
        margin-left: 2vw;
        max-width: 50rem;
        @media screen and (max-width:1400px) {
            width: 32vw;
        }
        @media screen and (max-width:1350px) {
            width: 28vw;
        }
        @media (min-width: 1500px){
            margin-left: 3rem;
        }

        @include res(lg){
            padding: 0 4vw;
            box-shadow: $shadow-xs;
            margin-left: 0;
            width: 100%;
            height: 7rem;
            display: flex;
            align-items: center;
        }
    }
    &-btn{
        z-index: 6000;
        position: absolute;
        right: 4vw;
        top: 50%;
        transform: translateY(-50%);
        
    }
    &-icon{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        @include res(lg){
            left: 4vw;
        }
        svg{
            transition: $transition-primary;
            stroke: var(--theme-gray-300);
            height: 2rem;
            width: 2rem;
            @include res(lg){
            height: 2.6rem;
            width: 2.6rem;
            }
        }
        &-mobile{
            svg{
                display: none;
            height: 3.2rem;
            width: 3.2rem;
            color: var(--theme-text);
            filter: var(--theme-icon-filter);
            }
            svg.search{
                @include res(md){
                    display: block;
                }
            }
            svg.close{
                display: none;
            }
            
        }
    }
    &-results{
        display: none;
        background-color: var(--theme-bg-intermediate);
        @include res(lg){
            display: block;
        }
        height: calc(100vh - 7rem);
        .placeholder{
            height: 80%;
            @include flex-center;
            flex-direction: column;
            img{
                width: 65vw;
                max-width: 40rem;
            }
        }
    }
    &-input{
        width: 100%;
        transition: $transition-primary;
        border-bottom: 1.4px solid $gray-300;
        padding:1rem 0 1rem 3.6rem;
        font-weight: 600;
        background-color:var(--theme-bg);;
        &::-webkit-input-placeholder{
            font-weight: 600;
            color: $gray-400;
        }
        &:focus{
            border-color: var(--theme-color-primary);

            & ~ .header-search-icon{
                svg{
                    stroke: var(--theme-color-primary);
                }
            }
        }

        @include res(lg){
            width:calc(100% - 4rem);
        }
    }
  
    &-wrapper{
        z-index: 1500;
        @include res(lg){
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            background-color:  var(--theme-bg);
            &.open{
                display: block;
                & ~ .header-search-btn{
                    svg.search{
                        display: none;
                    }
                    svg.close{
                        display: block;
                    }
                }
            }
        }
    }
}