#darkMode { 
    cursor: pointer;
    height: 2.8rem;
    width: 2.8rem;
  }

.theme-toggler{
     display: flex;
     align-items: center;
     justify-content: center;

    //  .circle{
    //      fill:#FFC700;
    //  }
}