
@mixin spinner($color-1,$color-2,$color-bg){
    &.spinner
    {
        position: relative;
        pointer-events: none;
        &::before {
            content: '';
            box-sizing: border-box;
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            width: 2.5rem;
            height: 2.5rem;
            margin-top: -1.25rem;
            margin-left: -1.25rem;
            border-radius: 50%;
            border: 2.5px solid $color-1;
            border-top-color: $color-2;
            animation: spinner .8s linear infinite;
          }

          &::after{
            content: '';
            position: absolute;
            width: 100%;
            border-radius: 1rem;
            left: 0;
            top: 0;
            animation: fade_in .2s linear forwards;
            height: 100%;
            background-color: rgba($color-bg,0.75);
            z-index: 1;
        }
    }
}


@mixin base-fs { //appx 16px - 14px
    font-size: 1.6rem;

    @include res(md){
        font-size: 1.7rem;
    }
    @include res(sm){
        font-size: 1.87rem;
    }
    @include res(xxs){
        font-size: 2rem;
}   
}

@mixin small-fs { //appx 14px - 12px
    font-size: 1.4rem;

    @include res(md){
        font-size: 1.5rem;
    }
    @include res(sm){
        font-size: 1.62rem;
    }
    @include res(xxs){
        font-size: 1.71rem;
}   
}


@mixin medium-fs { //appx 18px - 16px
    font-size: 1.8rem;

    @include res(md){
        font-size: 2rem;
    }
    @include res(sm){
        font-size: 2.12rem;
    }
    @include res(xxs){
        font-size: 2.28rem;
}   
}


@mixin large-fs { //appx 20px - 18px
    font-size: 2rem;

    @include res(md){
        font-size: 2.22rem;
    }
    @include res(sm){
        font-size: 2.1rem;
    }
    @include res(xxs){
        font-size: 2.57rem;
}   
}