@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

//MEDIA QUERY MANAGER - (takes the size of the screen and return the media query code)
@mixin res($break-point){
    // -- >1200px normal css will apply 
    @if $break-point == lg {
        @media (max-width:74.99em) { // --1199.98px (large screens - eg. small laptops or landscape tablets) <1200
            @content
        };
    }

    @if $break-point == md {
        @media (max-width:61.99em) { // --991.98px (medium screens - eg. tablets) <992
            @content
        };
    }

    @if $break-point == sm {
        @media (max-width:47.99em) { // --767.98px (small screens - eg. landscape phones) <768
            @content
        };
    }

    @if $break-point == xs {
        @media (max-width:35.99em) { // --575.98px (very small screens - eg. potrait phones) <576
            @content
        };
    }
    @if $break-point == xxs {
        @media (max-width:23.74em) { // --379.98px (tiny screens - eg.small phones) <360
            @content
        };
    }
}


@mixin spinner($color-1,$color-2,$color-bg){
    &.spinner
    {
        position: relative;
        pointer-events: none;
        &::before {
            content: '';
            box-sizing: border-box;
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            width: 2.5rem;
            height: 2.5rem;
            margin-top: -1.25rem;
            margin-left: -1.25rem;
            border-radius: 50%;
            border: 2.5px solid $color-1;
            border-top-color: $color-2;
            animation: spinner .8s linear infinite;
          }

          &::after{
            content: '';
            position: absolute;
            width: 100%;
            border-radius: 1rem;
            left: 0;
            top: 0;
            animation: fade_in .2s linear forwards;
            height: 100%;
            background-color: rgba($color-bg,0.75);
            z-index: 1;
        }
    }
}
@mixin btn-shadow($color,$opacity) {
    box-shadow: 0 0.5rem 2rem 0 rgba($color,$opacity)
}