@mixin flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin btn-shadow($color,$opacity) {
    box-shadow: 0 0.5rem 2rem 0 rgba($color,$opacity)
}
//MEDIA QUERY MANAGER - (takes the size of the screen and return the media query code)
@mixin res($break-point){
    // -- >1200px normal css will apply 
   
    @if $break-point == lg {
        @media (max-width:74.99em) { // --1199.98px (large screens - eg. small laptops or landscape tablets) <1200
            @content
        };
    }

    @if $break-point == md {
        @media (max-width:61.99em) { // --991.98px (medium screens - eg. tablets) <992
            @content
        };
    }

    @if $break-point == sm {
        @media (max-width:47.99em) { // --767.98px (small screens - eg. landscape phones) <768
            @content
        };
    }

    @if $break-point == xs {
        @media (max-width:35.99em) { // --575.98px (very small screens - eg. potrait phones) <576
            @content
        };
    }
    @if $break-point == xxs {
        @media (max-width:23.74em) { // --379.98px (tiny screens - eg.small phones) <360
            @content
        };
    }
}
// background:linear-gradient($angle deg, $color1 5.55%, #FFFFFF 91.62%)
@mixin gradient-genrator($color-1,$color-2,$angle){
    background:linear-gradient(to $angle, $color-1, $color-2);
}

@mixin theme-css(){
    @if $break-point == lg {
        @media (max-width:74.99em) { // --1199.98px (large screens - eg. small laptops or landscape tablets) <1200
            @content
        };
    }
}

@mixin circle($size) {
    min-height: $size;height: $size;
    min-width: $size;width:$size;
}

@mixin medium-fs { //appx 18px - 16px
    font-size: 1.8rem;

    @include res(md){
        font-size: 2rem;
    }
    @include res(sm){
        font-size: 2.12rem;
    }
    @include res(xxs){
        font-size: 2.28rem;
}   
}


@mixin large-fs { //appx 20px - 18px
    font-size: 2rem;

    @include res(md){
        font-size: 2.22rem;
    }
    @include res(sm){
        font-size: 2.1rem;
    }
    @include res(xxs){
        font-size: 2.57rem;
}   
}
@mixin small-fs { //appx 14px - 12px
    font-size: 1.4rem;

    @include res(md){
        font-size: 1.5rem;
    }
    @include res(sm){
        font-size: 1.62rem;
    }
    @include res(xxs){
        font-size: 1.71rem;
}   
}

@mixin xs-fs { //appx 12px - 10px
    font-size: 1.25rem;

    @include res(md){
        font-size: 1.22rem;
    }

    @include res(sm){
        font-size: 1.25rem;
    }
}