
:root{
    --theme-text: #{$black};
    --theme-color-primary: #{$color-primary};
    --theme-color-secondary: #{$color-secondary};
    --theme-color-tertiary: #{$color-tertiary};
    --theme-gray-text:#{$gray-text};
    --theme-bg: #{$white};
    --theme-bg-secondary: #{$gray-bg};
    --theme-bg-intermediate: #{$white};
    --theme-gray-100: #{$gray-100};
    --theme-gray-200: #{$gray-200};
    --theme-gray-300: #{$gray-300};
    --theme-icon-filter : brightness(0);
    --theme-banner-secondary: #{$color-secondary};
    --hover-blue: #{$color-primary-light};
    --gr-start:#91abc9;
    --gr-end:#FFFFFF;
}

[data-theme = "dark"]{
    --theme-text: #{$white};
    --theme-color-primary: #{$color-primary-dark};
    --theme-color-secondary: #{$color-secondary-dark};
    --theme-color-tertiary: #{$color-tertiary-dark};
    --theme-bg: #{$bg-dark};
    --theme-gray-text:#{$gray-text-dark};
    --theme-bg-secondary:#{$gray-bg-dark};
    --theme-bg-intermediate: #{$gray-bg-dark};
    --theme-gray-100: #{$gray-100-dark};
    --theme-gray-200: #{$gray-200-dark};
    --theme-gray-300: #{$gray-300-dark};
    --theme-icon-filter: brightness(0) invert(1);
    --theme-banner-secondary: #{$bg-dark};
    --hover-blue: #{$color-primary-light--dark};
    --gr-start:#15212e;
    --gr-end:#111418;
}
