@import "var";
@import "components/tabs";

.profile-card{
    padding:0;
    &-section{
        padding: 5rem 3.5rem;

        &:not(:last-child){
            border-right: 1.5px solid var(--theme-gray-100);
        }

        &-1{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
        }
    }
}
.skills-section{
    margin-top: 4rem;
}

.social-link{
    display: flex;
    gap: 1rem;
    align-items: center;


    &:not(:last-child){
        margin-bottom: 2rem;
    }
}

//switch container styles
.switch{
    &-container{
        position: relative;
    }

    &-menu{
        border-bottom: 0.8px solid var(--theme-gray-100);
        display: flex;

        &-item{
            text-align: center;
            padding: 1.8rem 4rem;
            cursor: pointer;
            transition: $transition-quick;
            border-top-left-radius: 0.8rem;
            border-top-right-radius: 0.8rem;

            & > *:first-child {
                color: var(--theme-gray-text);
            }
            &:hover{
                background-color: var(--theme-gray-100);
            }
            &.active{
                box-shadow: $shadow-sm;
                background-color: var(--theme-bg);
                & > *:first-child {
                    color: var(--theme-text);
                }
            }
        }
    }
}