<header-secondary></header-secondary>
<section class="content-wrapper content-auth">
    <div class="container">
        <div class="border-primary py-3">
            <h3 class="text-primary text-center">
                Developer Signup
            </h3>
        </div>

        <div class="auth-box">
            <div class="row justify-content-center justify-content-lg-end">
                <div class="col-lg-6 col-md-8 text-center text-lg-right">
                   <div class="card-sm ml-lg-auto mr-lg-0 mx-auto">
                    <div class="card mb-4">
                        <div class="form-box">
                        <form class="form" [formGroup]="form" (submit)="submit()">
                            <div class="form-group">
                                <label for="name" class="form-label required">Name</label>
                                <input formControlName="name" type="text" class="form-input" placeholder="Enter your name">

                                <div
                                class="validation"
                                *ngIf="submitted && name!.invalid"
                              >
                                <p *ngIf="name!.errors!.required">
                                  Please enter your name!
                                </p>

                                <p *ngIf="name!.errors!.pattern">
                                  Name can only consist alphabets!
                                </p>
                              </div>

                            </div>
                            <div class="form-group">
                                <label for="email" class="form-label required">Email</label>
                                <input formControlName="email" type="text" class="form-input" placeholder="Enter your username or email">

                                <div
                                class="validation"
                                *ngIf="submitted && email!.invalid"
                              >
                                <p *ngIf="email!.errors!.required">
                                  Please enter your email!
                                </p>

                                <p *ngIf="email!.errors!.email">
                                  Please enter a valid email!
                                </p>
                              </div>

                            </div>
                            <div class="form-group">
                                <label for="name" class="form-label required">Username</label>
                                <input formControlName="username" type="text" class="form-input" placeholder="Enter your username">

                                <div
                                class="validation"
                                *ngIf="submitted && username!.invalid"
                              >
                                <p *ngIf="username!.errors!.required">
                                  Please enter your username!
                                </p>

                               
                              </div>

                            </div>
                            <div class="form-group">
                                <label for="password" class="form-label required">Password</label>
                                <input formControlName="password" type="password" class="form-input" placeholder="Enter your password">

                                <div
                                class="validation"
                                *ngIf="submitted && password!.invalid"
                              >
                                <p *ngIf="password!.errors!.required">
                                  Please enter your password!
                                </p>
                              </div>
                            </div>

                            <div class="form-group">
                                <label for="cpassword" class="form-label required">Confirm Password</label>
                                <input name="cpassword" type="password" class="form-input" placeholder="Confirm your password">

                                <div
                                class="validation"
                                *ngIf="submitted && password!.invalid"
                              >
                                <p *ngIf="password!.errors!.required">
                                  Please enter your password!
                                </p>
                              </div>
                            </div>
                          
                            <div class="form-btn">
                                <button class="btn btn-dark"
                                [class.spinner]="loading"
                                type="submit">
                                    Signup
                                </button>
                            </div>

                        </form>
                        <div class="form-social-btns">
                            <p class="text-center border-gray-100 pb-4">
                                or signup using
                            </p>

                            <div class="row no-gutters">
                                <div class="col-sm-4">
                                    <button class="btn btn-social w-100">
                                        <img src="assets/img/icons/google.svg" alt="google login">
                                        Google
                                    </button>
                                </div>
                                <div class="col-sm-4 px-sm-3">
                                    <button class="btn btn-social w-100">
                                        <img src="assets/img/icons/github.svg" alt="github login">
                                        Github
                                    </button>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-social w-100">
                                        <img src="assets/img/icons/linkedin.svg" alt="linkedin login">
                                        Linkedin
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a routerLink='/login' class="card card-border card-link">
                    <p class="text-gray text-center">
                        Already a member?
                        <span class="link">
                        Login Now
                        </span>
                    </p>
                </a>
                   </div>
                </div>
            </div>
        </div>
    </div>

    <img src="assets/img/vectors/signup-vector.svg" alt="MeetDev Signup" class="img-login">
</section>
<footer-secondary></footer-secondary>

