.content{
    &-wrapper{
        //padding: 7rem 0;
    }
    &-auth{
        min-height: 100vh;
        padding: 9rem 0 12rem;

        @include res(md){
            padding: 12rem 0;
        }
    }
}
