.content{
    &-wrapper{
        //padding: 7rem 0;
    }
    &-auth{
        min-height: 100vh;
        padding: 9rem 0 12rem;

        @include res(md){
            padding: 11rem 0;
        }
    }
    &-container{
        min-height: 100vh;
    }
    
}
.auth-box{
    padding: 2rem 0;
}

.container{
    &-primary{
        padding: 0 8vw;
    }
}