.footer{
        background-color: var(--theme-bg);
        border-top: 1px solid var(--theme-border-100);
        padding: 2rem 4vw;

        &-fixed{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
        }
}