.header{
    padding:0 4vw;
    height: 7rem;
    background-color: $white;
    border-bottom: 1px solid $gray-100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    &-center{
        @include flex-center;
    }

    &-logo{
        @include flex-center;
        img{
            height: 3.2rem;
            @include res(lg){
                height: 2.8rem;
            }
        }
    }

}