.transformer-tabs {
    position: relative;
    ul{
        position: relative;
    }
    li {
      display: inline-block;
      vertical-align: bottom;
    }

    a {
      display: inline-block;
      &.active {
        border-bottom: 3px solid black;
        position: relative;
        bottom: -3px;
      }
    }

    @include res(sm){
        ul {
            overflow: hidden;
            height: 4rem;
            &::after {
                content: "more ☰";
                position: absolute;
                display: inline-flex;
                align-items: center;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                z-index: 2;
                font-size: 2rem;
                font-family: 'Met';
                pointer-events: none;
                width: 8rem;
                font-weight: 600;
            }

            &.open {
                a {
                  position: relative;
                  display: block;
                }
              }
          }

          li {
            display: block; /* One link per "row" */
          }
          a {
            position: absolute; /* Stack links on top of each other */
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &.active {
              border: 0;
              z-index: 10; /* Active tab is on top */
              background: $white;
              color: $white;
            }
          }
    }
  }

  .navigation-mobile{
      display: flex;
      @include res(sm){
        display: none;
        position: absolute;
          box-shadow: $shadow;
          background-color: $white;
          border-radius: 0.6rem;
          max-width: 90vw;
          width: 30rem;
  
          &.open{
              display: block;
          }
          li{
              border-bottom: 1px solid $gray-100;
              padding: 1.5rem 1rem;
          }

      }
  }

  .menu{
    &-navigation{
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    &-tab{
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      background-color: $white;
      padding:0.8rem 1.6rem;
      border-radius: 0.6rem;
      .icon{
        height: 3rem;
        width: 3rem;
        padding: 0.4rem;
        border-radius: 50%;
        margin-right: 0.8rem;
        @include flex-center;
        border: 1px solid $gray-text;
        svg{
          stroke: $gray-text;
        }
      }
      .text{
        font-family: Met;
        font-weight: 600;
        color: $gray-text;
      }

      &.active{
        background-color: $color-primary-light;
        .text{
          color: $black;
        }
        .icon{
          border-color: $color-primary;
          svg{
            stroke: $color-primary
          }
        }
      }

      &.completed{
        background-color: rgba($success,0.25);
        color: $color-secondary;
        .text{
          color: $color-secondary;
        }
        .icon{
          background-color: $color-tertiary;
          border-color:  $color-tertiary;
          svg{
            stroke: $white;
          }
        }
      }
    }
  }