html {
  --border: #{var(--theme-gray-text)};
}
[data-theme="dark"] {
  --border: #{$black};
}

.navigation-mobile {
  display: flex;
  @include res(sm) {
    display: none;
    position: absolute;
    box-shadow: $shadow;
    background-color: var(--theme-bg-intermediate);
    border-radius: 0.6rem;
    max-width: 90vw;
    width: 30rem;

    &.open {
      display: block;
    }
    li {
      &:not(:last-child) {
        border-bottom: 1px solid var(--border);
      }

      padding: 1.5rem 1rem;
    }
  }
}

.menu {
  &-navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include res(sm) {
      min-height: 6rem;
      overflow: hidden;
      cursor: pointer;
      &::after {
        content: "☰";
        position: absolute;
        display: inline-flex;
        align-items: center;
        top: 3rem;
        right: 2rem;
        transform: translateY(-50%);
        z-index: 10;
        font-size: 2rem;
        pointer-events: none;
        font-weight: 600;
      }
    }
    &.open {
      @include res(sm) {
        display: block;
        overflow: visible;
        &::after {
          content: "";
        }
        .menu-tab {
          position: relative;
          padding: 1rem 1.6rem;
          pointer-events: all;
        }
      }
    }
  }
  &-tab {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background-color: var(--theme-bg-intermediate);
    padding: 0.8rem 1.6rem;
    border-radius: 0.6rem;
    @include res(sm) {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;
      transition: $transition-secondary;
      transition-duration: 0.25s;
    }
    .icon {
      height: 3rem;
      width: 3rem;
      padding: 0.4rem;
      border-radius: 50%;
      margin-right: 0.8rem;
      @include flex-center;
      border: 1px solid var(--theme-gray-text);
      svg {
        stroke: var(--theme-gray-text);
      }
    }
    .text {
      font-family: Met;
      font-weight: 600;
      color: var(--theme-gray-text);
    }

    &.active {
      background-color: var(--theme-color-primary);
      .text {
        color: $white;
      }
      .icon {
        border-color: $white;
        svg {
          stroke:$white;
        }
      }

      @include res(sm) {
        z-index: 5;
      }
    }

    &.completed {
      background-color: rgba($success, 0.25);
      color: var(--theme-color-secondary);
      .text {
        color: var(--theme-text);
      }
      .icon {
        background-color: $color-tertiary;
        border-color: $color-tertiary;
        svg {
          stroke: var(--theme-bg);
        }
      }
    }
  }
}
