<header-secondary></header-secondary>
<section class="content-wrapper content-auth">
    <div class="container">
        <div class="border-primary py-3">
            <h3 class="text-center">
                Complete Profile
            </h3>
            <p class="text-gray text-center">
                
            </p>
        </div>

        <div class="auth-box">
            <div class="row justify-content-center">
                   <div class="col-lg-6 col-md-7 col-sm-10">
                    <div class="card card-border"
                    >
                        <span class="link">
                            Resend Code
                            </span>
                    </div>

                    <div class="card mt-4">
                        <div class="form-box">
                        <form class="form">
                            <div class="form-group">
                                <label for="email" class="form-label required">Verfication Code</label>
                                <input name="code" type="text" class="form-input" placeholder="Enter verfication code sent on your mail">

                                <!-- <div
                                class="validation"
                                *ngIf="submitted && code!.invalid"
                              >
                                <p *ngIf="code!.errors!.required">
                                  Please enter your code!
                                </p>

                              </div> -->
                            </div>
                            <div class="text-center">
                                <button class="btn btn-dark" 
                                type="submit">
                                    Verify
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
               
                   </div>
            </div>
        </div>
    </div>
</section>
<footer-secondary></footer-secondary>