<div class="header d-flex align-items-center justify-content-between">
    <div class="header-logo">
        <img
        sizes="(max-width: 1000px) 18vw,
                (max-width: 576px) 25vw,
                500px"
                srcset="
                assets/img/logo_w_150.png 150w,
                assets/img/logo_w_500.png 500w"
                src="logo_w_500.png"
                alt="MeetDev logo">
    </div>

    <nav role="navigation" class="position-relative">
        <ul>
            <li>
                <a routerLink="/" class="link-danger d-flex align-items-center font-weight-bold">
                    <i data-feather="power" class="icon-sm text-danger mr-2"></i>
                    logout
                </a>
            </li>
        </ul>
    </nav>
</div>
