<div class="header d-flex align-items-center justify-content-between">
    <div class="header-logo">
        <img src="assets/img/logo.png" alt="MeetDev logo">
    </div>

    <nav role="navigation" class="position-relative">
        <ul>
            <li>
                <a routerLink="/" class="link-danger d-flex align-items-center font-weight-bold">
                    <i data-feather="power" class="icon-sm text-danger mr-2"></i>
                    logout
                </a>
            </li>
        </ul>
    </nav>
</div>
