*{
    @include base-fs;
    font-family: Aeonik;
    color: var(--theme-text);
}

h1,h2,h3,h4,h5,h6{
    font-family: Met;
    font-weight: 600;
}

label, input, textarea{
    font-family: Met;
    font-weight: 500;
}
button{
    font-weight: 600;
    @include medium-fs;
    font-family: Met;
}
a{
    font-family: Met;
    font-weight: 400;
    transition:$transition-primary;
}
p{
    font-family: Aeonik;
    font-weight: 500;
    line-height: 1.5;
}

h1{
    font-size: 4.6rem;
    line-height: 1.2;
    margin-bottom: 2.5rem;
}

h2{
    font-size: 3.6rem;
    margin-bottom: 2rem;
    letter-spacing: -0.08rem;
}
h3{
    font-size: 2.6rem;
    letter-spacing: -0.04rem;
    margin-bottom: 1.5rem;
    @include res(sm){
        font-size: 2.8rem;
    }
}
h4{
    font-size: 2.2rem;
    margin-bottom: 1.2rem;
    @include res(sm){
        font-size: 2.4rem;
    }
}
h5{
    font-size: 2rem;
    margin-bottom: 1rem;
    @include res(sm){
        font-size: 2.2rem;
    }
}
h6{
    font-size: 1.6rem;
    @include res(sm){
        font-size: 2rem;
    }
}
span{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    letter-spacing: inherit;
}
//links
.link{
    &-primary{
        font-weight: 700;
        color: var(--theme-color-primary);
        &:hover{
            color: var(--theme-color-secondary);
        } 
}
&-gray{
    color: var(--theme-gray-text);
    &:hover{
        color: var(--theme-color-primary);
    }
}
&-danger{
    color: $danger;
    &:hover{
        color: darken($color: $danger, $amount: 0.5);
    }
}
}

//text utils
.text{
    //colors
    &-primary{
        color: var(--theme-color-primary) !important;
    } 
    &-secondary{
        color: var(--theme-color-secondary) !important;
    }
    &-gray{
        color: var(--theme-gray-text);
    }
    &-danger{
        color: $danger;
    }
    &-tertiary{
        color: $color-tertiary;
    }
    //font weights
    &-600{
        font-weight: 600 !important;
    }
    &-700{
        font-weight: 700 !important;
    }
    &-800{
        font-weight: 800 !important;
    }
    &-900{
        font-weight: 900 !important;
    }
    //size
    &-base{
        @include base-fs;
    }
    &-sm{
        @include small-fs;
    }
    &-xs{
        @include xs-fs;
    }
    &-md{
        @include medium-fs;
    }
    &-lg{
        @include large-fs;
    }
}
