
.bg-gray{
    background-color: var(--theme-bg-secondary);
}

.bg-white-gray{
    background-color: var(--theme-bg);
}

.bg-gray-100{
    background-color: var(--theme-gray-100);
}

.hr{
    &-gray{
        color: var(--theme-bg-secondary);
    }
}


.font-600{
    font-weight: 600 !important;
}
.font-500{
    font-weight: 500 !important;
}
.font-700{
    font-weight: 700 !important;
}
.font-800{
    font-weight: 800 !important;
}

.border{
    &-primary{
        border-bottom: 1px solid var(--theme-color-primary);
    }
    &-gray-100{
        border-bottom: 0.8px solid var(--theme-gray-100);
    }
}

.required{
    font-size: 2rem;
    font-weight: 600;
}

.sp-2{
    padding:1.5rem 0;
}
.h-sp-md{
    margin-bottom: 1.4rem;
}